/* div {
    width: 250px;
    height: 250px;
    background-color: plum;
}

p {
    color: orange;
}

.caja {
    width: 150px;
    height: 150px;
    background-color: blue;
    border: 2px solid rgb(4, 44, 84);
    border-radius: 50px;
}

.otracaja {
    width: 150px;
    height: 150px;
    background-color: rgb(191, 234, 98 ,0.4);
    border: 2px solid rgb(4, 44, 84);
    border-radius: 50px;
    margin-top: 50px;   
}

.unacajamas {
    width: 150px;
    height: 150px;
    background-color: #F20DC6;
    border: 2px solid rgb(4, 44, 84);
    border-radius: 50px;
    margin-top: 50px;
}

.capibara {
    width: 150px;
    height: 150px;
    background-color: hsl(0, 100%, 50% , 0.5);
    border: 2px solid rgb(4, 44, 84);
    border-radius: 50px;
    margin-top: 50px;
}

*{
    color: rgb(110, 174, 13);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#soy_unico {
    width: 250px;
    height: 50px;
    background-color: goldenrod; 
    border: 2px solid rgb(4, 44, 84);
    border-radius: 50px;   
    margin-top: 50px;
}

a[title] {
    color: rebeccapurple;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: goldenrod; 
    border: 2px solid rgb(4, 44, 84);
    color:red
}

input:disabled {
    background-color: black;
}

p::first-line {
    color: rgb(88, 137, 14);
}

p::first-letter {
    color: rgb(61, 90, 17);
    font-size: 2em;
    font-weight: bolder;
}

.capibara1, .capibara2, .capibara3 {
    width: 150px;
    height: 150px;
    background-color: burlywood;
    border: 2px solid rgb(4, 44, 84);
}

.padre p{
    color: red
} */
/* 
p#unico.foo{
    color: rgb(179, 51, 51);
} 

p#unico.foo.bar{
    color: rgb(72, 154, 72);
}

p#unico.foo.bar.baz{
    color: rgb(22, 152, 185)!important;
}

.main {
    color: rebeccapurple;
    border: 2px solid #ccc;
    padding: 1em;
}

.special {
    color: rgb(180, 43, 43);
    font-weight: bold;
}

.rectangulo {
    width: 450px;
    height: 25px;
    background-color: orange;
}

.caja {
    width: 50%;
    height: 250px;
    background-color: rgb(15,125,36);
}
.cajainterior {
    width: 50%;
    height: 50%;
    background-color: rgb(208, 32, 199);
}

.cajainterior p {
    color: white;
    font-size: 4rem;
    font-weight: bold;
} */
/* *{
    margin: 0;
}

div {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
} */

*{
    margin: 0;
}

div {
    width: 250px;
    height: 250px;
    background-color: lavender;
    /* padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px; */
    padding: 25px;
    /* border-top: 2px solid rgb(4, 44, 84);
    border-bottom: 2px solid rgb(4, 44, 84);
    border-left: 2px solid rgb(4, 44, 84);
    border-right: 2px solid rgb(4, 44, 84); */
    border: 2px solid rgb(4, 44, 84);
    margin: 25px;

}